<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="YearBookViewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
    <userSettings>
        <YearBookViewer.Properties.Settings>
            <setting name="SettingsFileName" serializeAs="String">
                <value>appsettings.ybv</value>
            </setting>
            <setting name="DataFile" serializeAs="String">
                <value>data.ybv</value>
            </setting>
            <setting name="ImageStorage" serializeAs="String">
                <value>imgstore.ybv</value>
            </setting>
        </YearBookViewer.Properties.Settings>
    </userSettings>
</configuration>